logs_*/
__pycache__/
.ipynb*/
loaded_data/
*/secrets.toml
*.toml
*.zip
*.png
*.csv
*.npy
*.json
leading_model_pawel/*
leading_model_pawel/
leading_model_pawel/mycsvfile.csv
leading_model_pawel/LeadershipModelDevelopment.ipynb
pawel_code_original/